

.shop{
    height: max-content;
    width:auto;
    border: 2px solid black;
    padding: 2rem;
    margin: 5rem 15rem 5rem 15rem;
}

.navbar{
    border-top: 8px solid red;
    border-bottom: 8px solid red;
    padding: 1rem;
    background-color: black;
    height: 12rem;
    
}

.logo{
    border: 1px solid yellow;
    height: 90px;
    width: 200px;
}

.shope-name{
    border: 1px solid green;
    font-size: 3rem;
    height: 90px;
    font-weight: 700;
    padding: 0.5rem 0 0.5rem 0;
    color: #3674B5;
}

.feed-data{
    border-top: 8px solid red;
    border-bottom: 8px solid red; 
    margin-top: 1rem;
    padding: 1px;
    height: auto;
    width: auto;
}

.order-items{
    margin: 1rem;
    padding: 2rem;
    background-color: #FFD95F;
    width: fit-content;
}

.dropdowns{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}


